<div id="<%= dom_id document %>">
  <p>
    <strong>Name:</strong>
    <%= document.name %>
  </p>

  <p>
    <strong>Doc type:</strong>
    <%= document.doc_type %>
  </p>

  <p>
    <strong>Employee:</strong>
    <%= document.employee_id %>
  </p>

</div>
